body {
        font-family: 'Lora', serif;
      }
      .figure {
        background-color:ghostwhite;
        padding:12pt;
      }
      .caption{
        font-style:italic;
        width:40%;
        margin:12pt;
        float: left;
      }
      .displayAsFigure{
        background-color: ghostwhite;
        padding:12pt;
      }
      .table-scroller300 {
        width: 300px;
        height: 200px;
        overflow-x: scroll;
        overflow-y: scroll;
      }
      .table-scroller600 {
        width: 600px;
        height: 200px;
        overflow-x: scroll;
        overflow-y: scroll;
      }

}